services:

  dev_client:
    build:
      context: ./client
      target: dev
    volumes:
      - ./client:/app/
      - client_node_modules:/app/node_modules
    ports:
      - 8080:8080

  dev_server:
    build:
      context: ./server
      target: dev
    volumes:
      - ./server:/app/
      - server_node_modules:/app/node_modules
    ports:
      - 3000:3000
    depends_on:
      - mysql

  dev_nginx:
    image: nginx
    volumes:
      - ./nginx.default.development.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80
    depends_on:
      - dev_server
      - dev_client

  prod_client:
    build:
      context: ./client
    volumes:
      - client_node_modules:/app/node_modules

  prod_server:
    build:
      context: ./server
    volumes:
      - server_node_modules:/app/node_modules
    depends_on:
      - mysql

  prod_nginx:
    image: nginx
    volumes:
      - ./nginx.default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80
    depends_on:
      - prod_server
      - prod_client

  mysql:
    image: mysql
    volumes:
      - mysql_config:/etc/mysql/conf.d
      - mysql_store:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=test

volumes:
  server_node_modules:
  client_node_modules:
  mysql_config:
  mysql_store: